<humanitec-toolbar [isLoggedIn]="isLoggedIn" [title]="title" [sidenav]="sidenav" (logout)="logout($event)"></humanitec-toolbar>

<mat-sidenav-container>
  <mat-sidenav [opened]="isSidenavOpen(sidenav, isLoggedIn)" #sidenav mode="side" class="app-sidenav">
    <nav>
      <a mat-button class="nav-link" *ngFor="let link of links"
         [routerLink]="link.path" routerLinkActive="active">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </a>
    </nav>
  </mat-sidenav>

  <div class="app-content">
    <h1>Available {{ title }}!</h1>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
