<div class="container">
  <div class="col-50">
    <humanitec-programs-list>
      [programs]="programs$ | async"
      (selected)=selectedProgram($event)"
      (deleted)=deletedProgram($event)"
    </humanitec-programs-list>

    <div class="col-50">
      <humanitec-programs-details>
        [programs]="programs$ | async"
<!--        [activities]="activities$ | async"-->
        (saved)=savedProgram($event)"
        (cancelled)=resetCurrentProgram($event)"
      </humanitec-programs-details>
    </div>
  </div>

</div>
