<div class="container">
  <div class="col-50">
    <humanitec-programs-list>
      <pre>{{programs$ | async | json }}</pre>
      [programs]="programs$ | async"
      (selected)=selectProgram($event)"
      (deleted)=deleteProgram($event)"
    </humanitec-programs-list>

    <div class="col-50">
      <humanitec-programs-details>
        [program]="currentProgram$ | async"
        [activities]="activities$ | async"
        (saved)=updateProgram($event)"
        (cancelled)=resetCurrentProgram($event)"
      </humanitec-programs-details>
    </div>
  </div>

</div>
