<div fxLayoutAlign="center">
  <div fxFlex></div>
    <div fxFlex="40%">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        {{pageTitle}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" autocomplete="off" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon>account_circle</mat-icon>
          <mat-form-field fxFlex>
              <input matInput aria-label="Username" class="form-control"
               [ngClass]="{'is-invalid': (userNameVar.touched || userNameVar.dirty) && !userNameVar.valid }"
               id="userNameId"
               [type]= "maskUserName ? 'password' : 'text'"
               placeholder="User Name (abc)"
               required
               ngModel
               name="userName" #userNameVar="ngModel"/>
          </mat-form-field>

          <div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-icon matPrefix>vpn_key</mat-icon>
              <mat-form-field fxFlex>
                <input matInput aria-label="Password" class="form-control"
                     [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }"
                     id="passwordId"
                     type="password"
                     placeholder="Password (abc123)"
                     required
                     ngModel
                     name="password" #passwordVar="ngModel"/>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div class="col-md-4 col-md-offset-2">
              <span>
                <button mat-raised-button type="submit" color="primary"
						style="width:80px;margin-right:10px"
						[disabled]="!loginForm.valid">
                  Log In
                </button>
              </span>
              <span>
                <button mat-button class="mat-warn" (click)="cancel()">
                  Cancel
                </button>
              </span>
            </div>
          </div>
        </div>
      </form>
      <div fxLayout="row" class="margin-top">
        <div *ngIf="errorMessage" class="mat-caption error">{{errorMessage}}</div>
        <div class="flex-spacer"></div>
      </div>
    </mat-card-content>
  </mat-card>
    </div>
  <div fxFlex></div>
</div>
