<div class="app-container">
 <mat-toolbar color="primary" fxLayoutGap="8px" class="app-toolbar">
   <a mat-button routerLink="/welcome">
     <mat-icon svgIcon="owen1"></mat-icon><span class="mat-h2">{{pageTitle}}</span>
   </a>
   <span class="flex-spacer"></span>
   <button *ngIf="isLoggedIn" matTooltip="Profile" aria-label="User Profile"><mat-icon>account_circle</mat-icon></button>
   <button *ngIf="isLoggedIn" (click)="logOut()" matTooltip="Logout" aria-label="Logout"><mat-icon>lock_open</mat-icon></button>
 </mat-toolbar>
</div>

